<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
  
  <groups>
  
  <define name="ravi1.smoke">
  <include name="smoke"></include>
  <include name="sanity"></include>
  <include name="ravi"></include>  
  </define>
  
  <define name="ravi2.sanity">
  <include name="smoke"></include>  
  </define>
  
  <define name="ravi3.ravi">
  <include name="smoke"></include>
  <include name="sanity"></include>
  <include name="sanity"></include>  
  </define>
  
  <run>
  <include name="ravi2.sanity"></include>
  
  <exclude name=""></exclude>
  </run>
  </groups>
  
    <classes>
      <class name="TestNgPkg.TestCls"/>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite -->
